@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Istok+Web&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');*/

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Asap', sans-serif;
}

.navigation {
    max-width: 1350px;
    margin: auto;
}

header {
    background-color: rgb(223, 224, 224);
    padding: 20px;
}

.text h1 {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.navigation p {
    font-family: 'Istok Web', sans-serif;
    font-size: 19px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-icons img {
    height: 32px;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 600px) {

    header div.navigation {
        display: flex;
    }

    header div.text {
        flex-direction: column;
        align-items: center;
        flex: 2;
    }

    header div.social-icons {
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

    header div.burger {
        flex: 1;
    }
}

main div.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/bs-people5.jpeg);
    background-size: cover;
    background-position:center;
    min-height: 100vh;
    background-attachment: fixed;
    padding: 10px;
}

main div.banner h3 {
    font-size: 22px;
}

main div.banner h1 {
    font-size: 50px;
    padding-top: 20px;
}

main div.banner p {
    font-family: 'Istok Web', sans-serif;
    font-size: 19px;
    padding-top: 20px;
}

div.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 24px;
    background-color: rgb(15, 15, 15);
    color: white;
}

div.services h2 {
    font-size: 36px;
    text-align: center;
}

div.services p {
    font-family: 'Istok Web', sans-serif;
    padding: 20px 0px 10px 0px;
    color: rgb(95, 93, 93);
    text-align: center;
}

div.photos img {
    max-width: 100%;
}

div.photos h3 {
    padding-top: 20px;
}

div.free-place {
    padding: 15px;
}

div.img-1 {
    padding: 20px;
    background-color:rgb(32, 31, 31);
    margin-top: 30px;
    text-align: center;
}

div.img-2 {
    padding: 20px;
    background-color:rgb(32, 31, 31);
    margin-top: 30px;
    text-align: center;
}

div.img-3 {
    padding: 20px;
    background-color:rgb(32, 31, 31);
    margin-top: 30px;
    text-align: center;
}

@media (min-width: 600px) {
     div.photos {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-gap: 10px;
     }
}

